/* Estilos gerais */
body {
    background-color: #1a1a1a; /* Fundo mais escuro */
    color: #f1f1f1; /* Cor do texto */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilo do topo */
.containerTopo {
    background-color: #000; /* Preto */
    padding: 20px;
    text-align: center;
}

.containerPaginaTitulo {
    color: #ff7f00; /* Laranja */
    font-size: 2.5em;
}

/* Menu */
.menu {
    text-align: center;
    margin-top: 20px;
}

.menu .link {
    color: #ff7f00; /* Laranja */
    text-decoration: none;
    font-size: 1.2em;
    margin: 0 15px;
}

.menuSeparator {
    color: #f1f1f1; /* Cinza claro */
}

/* Estilo da lista de carros econômicos */
.carrosEconomicos {
    padding: 30px;
    text-align: left;
}

.carrosEconomicos h2 {
    color: #ff7f00; /* Laranja */
    font-size: 2em;
}

.carrosEconomicos ul {
    list-style-type: none;
    padding: 0;
}

.carrosEconomicos ul li {
    background-color: #333; /* Cinza escuro */
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    font-size: 1.2em;
    color: #fff; /* Branco */
}

/* Centralização da imagem */
.imagemCentralizada {
    text-align: center;
}

.imagemCentralizada img {
    max-width: 100%;
    height: auto;
}

/* Rodapé */
.containerRodape {
    background-color: #000; /* Preto */
    color: #f1f1f1; /* Cinza claro */
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

